/* $primary: #AF1E2D;
$secondary: #FFCE00;
$dark: #171717;
$light: #F3F3F3; */

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background: linear-gradient(to top left, #AF1E2D 50%, #FFCE00 50%);
    font-family: "Helvetica Neue",Helvetica,Arial;
}

h1 {
    margin: 0;
    font-size: 72px;
}

h1.bottom {
    color: #F3F3F3;
    text-align: right;
}

canvas {
    background-color: #171717;
    border: 3px solid #F3F3F3;
    box-shadow: 4px 4px 12px 4px ;
}